#wrapper {
	margin: 0 auto;
	padding: 0px;
	height: 100%;
	overflow: hidden;
  opacity: 1;
}
#Dialog{
	width: 100%;
 border-top: solid 2px black;
 border-left: solid 2px black;
 border-right: 2px solid white;
 border-bottom: 2px solid white;
 margin-bottom: 1em;
 overflow-y: hidden;
 font-family: "MS Sans Serif", Arial, sans-serif;
font-size: 1em;
padding: 2px;

}

#background{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
	background-color: yellow;
}

#hello{
  font-family: Courier;
}

.intro{
  font-family:cursive;
}

#instructions{
	background-position: left;
}


body{
  background-size: cover;
}
