/*

Condiments
Pippin Barr

Modified code by Nesreen, added font and change colours

Basic CSS

*/

body {
  margin: 2em;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: bold;
  background-color: #f5d4e3;
  color: #50a756;
  text-transform: lowercase;
}
