@import 'https://fonts.googleapis.com/css?family=Monoton';
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
@import 'https://fonts.googleapis.com/css?family=Mr+Dafoe';
@import 'https://fonts.googleapis.com/css?family=Changa+One';

body {
  background: #000;
  background-image:
    linear-gradient(
      to bottom,
      #6A0275 10%,
      #040C4A 60%
    );
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.m-logo {

  & {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 501;
  }

  &__wrap {
    transform: scale(0);
    text-align: center;
  }

  h1 {
    font-family: 'Press start 2p', sans-serif;
    font-size: 62px;
    letter-spacing: -4px;
    font-weight: 400;
    margin: 0 0 0.25em;
    line-height: 1.25;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ff8c6), color-stop(0%,#3fa8c6), color-stop(100%,#399ab2));
  background-image: -webkit-linear-gradient(top, #3fa8c6 0%,#3fa8c6 0%,#ff9ab2 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    // text-shadow: 0 px 1px #000;
  }

  .subtitle {
    color: #ec008c;
    font-size: 50px;
    margin: 0;
    font-family: 'Mr Dafoe', serif;
    text-shadow: 0px 1x 0px darken(#ec008c, 30%);
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  min-height: 400px;
  overflow: hidden;
  filter: blur(1px);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // background-color: gray;
background-image: linear-gradient(transparent 70%, rgba(#000, 0.5) 30%);
background-size: 3px 3px;
    z-index: 601;
    pointer-events: none;
  }
}
.m-grid {

  & {
    // background-color: black;
    position: absolute;
    top: 50%;
    margin-top: -75vh;
    left: 50%;
    margin-left: -100vw;
    width: 200vw;
    height: 150vh;
    transform: scaleY(0);
    background-image:
      linear-gradient(0deg, transparent 24%, rgba(#EC008C, 0.5) 25%, rgba(#EC008C, 0.9) 26%, transparent 27%, transparent 74%, rgba(#EC008C, 0.5) 75%, rgba(#EC008C, 0.9) 76%, transparent 77%, transparent),
      linear-gradient(90deg, transparent 24%, rgba(#EC008C, 0.75) 25%, rgba(#EC008C, 0.25) 26%, transparent 27%, transparent 74%, rgba(#EC008C, 0.75) 75%, rgba(#EC008C, 0.25) 76%, transparent 77%, transparent);
    background-size: 50px 50px;

    &.is-animating {
      animation: fly 1s linear;
      animation-iteration-count: infinite;
    }
  }
}


@keyframes fly{
  0%{
    transform: perspective(300px) rotateX(80deg) translateY(0%);
  }
  100%{
    transform: perspective(300px) rotateX(80deg) translateY(50px);
  }
}
