body {
  background-color: #313640;
  overflow: hidden;
}

.grid {
  top: -400px;
  bottom: -400px;
  left: -400px;
  right: -400px;
  position: absolute;
  background-color: #313640;
  background-image: linear-gradient(#FF0092 1px, transparent 2px), linear-gradient(90deg, #FF0092 1px, transparent 2px);
  background-size: 3% 3%, 3% 3%;
  background-position: 0 0, 0 0;
  -webkit-transform: perspective(300px) rotateX(80deg);
          transform: perspective(300px) rotateX(80deg);
}

.eightys-text {
  color: #FF0092;
  font-family: 'Audiowide', cursive;
  font-size: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 80px;
  margin: auto;
  text-shadow: 0 0 12px rgba(186, 1, 255, 0.8);
  -webkit-text-stroke: 1px #f008b7;
 -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
 z-index: 20;
}

.grid {
  -webkit-animation: throughSpace 2s linear;
          animation: throughSpace 2s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes throughSpace {
  0% {
    -webkit-transform: perspective(300px) rotateX(80deg) translateY(0%);
            transform: perspective(300px) rotateX(80deg) translateY(0%);
  }
  100% {
    -webkit-transform: perspective(300px) rotateX(80deg) translateY(5.8%);
            transform: perspective(300px) rotateX(80deg) translateY(5.8%);
  }
}

@keyframes throughSpace {
  0% {
    -webkit-transform: perspective(300px) rotateX(80deg) translateY(0%);
            transform: perspective(300px) rotateX(80deg) translateY(0%);
  }
  100% {
    -webkit-transform: perspective(300px) rotateX(80deg) translateY(5.8%);
            transform: perspective(300px) rotateX(80deg) translateY(5.8%);
  }
}
/* sun animation using keyframes with the help of https://www.codeseek.co/JadeFrh/trippy-twilight-ojEpRQ */

#circle {
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

#bars {
  margin-top: -900px;
}

#circle .bar {
  position: relative;
  display: inline-block;
  margin: 6px auto;
  width: 500px;
  height: 10px;
  background: linear-gradient(pink, yellow);
  box-shadow: 3px 5px 10px #46579D;
  animation: sunset 5s 0s infinite linear;
}

@keyframes sunset {
  0% {
    top: 10px
  }
  100% {
    top: 190px
  }
}

.w3-button {
  width:150px;
  position: absolute;
  bottom: 100px;
  right: 640px;
  background-color: #FF0092;
  color: white;
  font-family: 'Audiowide', cursive;
}
