/*

Condiments
Pippin Barr

Modified code by Nesreen, added font and change colours

Basic CSS

*/

body {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  font-size: 4em;
  font-weight: bold;
  background-color: #000;;
  color: #50a756;
  text-transform: lowercase;
  position: absolute;
  top: 11%;
  left: 12%;
  right: 12%;
  bottom: 28%;
  z-index: 1;
  overflow-wrap: break-word;
  word-break: break-all
}

	canvas { display: block;
  }

  .inner {
          padding: 20px;
          position: relative;
          height: 100vh;
          width: calc(100vh / 867 * 920);
          margin: auto;
   }
       .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: contain;
            z-index: 2;
        }
