/*

Condiments
Pippin Barr

Modified code by Nesreen, added font and change colours

Basic CSS

*/

body {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  font-size: 2em;
  font-weight: bold;
  background-color: #000;;
  color: #50a756;
  text-transform: lowercase;
  position: absolute;
  top: 5%;
  left: 12%;
  right: 12%;
  bottom: 28%;
  z-index: 1;
  overflow-wrap: break-word;
  word-break: break-all
}
 .overlay {
   display: block;
    margin-left: 80px;
    margin-right: auto;
    width: 50%;
    height: 50%;
    background-size: contain;
   z-index: 2;
        }
