#wrapper {
	margin: 0 auto;
	padding: 0px;
	height: 100%;
	overflow: hidden;
  opacity: 1;
}
#Dialog{
  font-family:Courier;
}

#background{
  background-size:cover;

}

#hello{
  font-family: Courier;
}
