#wrapper {
	margin: 0 auto;
	padding: 0px;
	height: 100%;
	overflow: hidden;
  opacity: 1;
}
#letter{

font-family: Courier;


}
#hello{
  font-family: Courier;
}

.image{
   display: none;
   width:30%;

}
